*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, serif;
  font-size: 18px;
}
html, body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
  box-sizing: content-box;
  padding: 0 10px;
}
main {
  flex: 1 1 auto;
}
.main__container{
  margin-top: 100px;
}
